.navbar {
    width: 4%;
    height: 100vh;
    position: fixed;
    background-color: #333;
    transition: width 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure icons are always centered */
    justify-content: center;
    z-index: 100;
}

.navbar.open {
    width: 20%;
    align-items: left;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-items li {
    color: white;
    margin-bottom: 1.5cm; 
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: center; 
}

.icon {
    flex-shrink: 0;
    margin-left: 1cm;
}

.navbar.open .icon {
    align-items: left;

}

.nav-text {
    flex-grow: 1;
    text-align: left;
    visibility: hidden;
    padding-left: 1cm; 
}

.navbar.open .nav-text {
    visibility: visible; /* Make text visible when navbar is open */
}
